<div class="slider">
    <ng-container *ngFor="let item of items , let i = index" > 
        <div class="slide"*ngIf="i == currentSlideIndex"@slideFade>
            <div class="slide-bg">
                <img class="slide-bg-image" [src]="imageSizes.large +item.backdrop_path" alt="">
            </div>
            <div class="slide-pane">
                <h2 class="name">{{item.original_title}} {{i}}</h2>
                <div class="meta">
                    <div class="info">
                        <i class="rating"><span class="app-icons">
                            star
                            </span><span class="rating-value">{{item.vote_average}}<span>/10</span></span></i>	&nbsp;
                        <span>{{item.vote_count}}</span>
                        <span>{{item.release_date | date: 'yyyy'}}</span>
                    </div>
                </div>
                <div class="description mt-6">
                    {{item.overview}}
                </div>
            </div>
        </div>
    </ng-container>

</div>
